{
  "private": true,
  "type": "module",
  "dependencies": {
    "runework": "{{runeworkUrl}}",
    "runework-pipelines": "{{runeworkPipelinesUrl}}",
    "zx": "^8.0.0"
  },
  "devDependencies": {
    "@types/node": "^22.0.0"
  }
}
